// reset all css styles
@import "reset";

// Bootstrap overrides


// Custom Styles
body {
  background-color: #dee2e6 !important; //$gray-300
  font-family: "Raleway", sans-serif !important;
}

#header {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // border-bottom: .2rem solid #495057; //$gray-700
  box-shadow: 0 .25rem 2rem #adb5bd; //$gray-500
}

#logo {
  width: 35px;
  height: 35px;
}

.listItem {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.date {
  font-family: "HelveticaNeue", "Helvetica", sans-serif;
  font-size: .9rem;
  width: 75px;
}

.listDetail {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

//
// #app {
//   margin: 0px 5px;
//   padding: 25px;
//   display: flex;
//   align-items: flex-start;
//   justify-content: center;
//   background-color: white;
//   height: 100vh;
// }
//
// @media (min-width: 650px) {
//   #app {
//     margin: 0px 25px; }
// }
//
// @media (min-width: 1000px) {
//   #app {
//     margin: 0px 125px; }
// }
